node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.example
.env.production
.dockerignore
docker-compose.yml
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
tests/
.fleet/
.idea/
.vscode/
.nova/
.zed/
public/hot
public/build
public/storage
